<meta charset="utf-8" />
<title>{{title}}</title>
<meta content="{{metainfo.metaDescContent}}" name="{{metainfo.metaDesc}}" />
<meta
  content="{{metainfo.metaOgTitleContent}}"
  property="{{metainfo.metaOgTitle}}"
/>
<meta
  content="{{metainfo.metaOgDescContent}}"
  property="{{metainfo.metaOgDesc}}"
/>
<meta
  content="{{metainfo.metaOgImageContent}}"
  property="{{metainfo.metaOgImage}}"
/>
<meta
  content="{{metainfo.metaTwitterTitleContent}}"
  property="{{metainfo.metaTwitterTitle}}"
/>
<meta
  content="{{metainfo.metaTwitterDescContent}}"
  property="{{metainfo.metaTwitterDesc}}"
/>
<meta
  content="{{metainfo.metaTwitterImageContent}}"
  property="{{metainfo.metaTwitterImage}}"
/>
<meta property="og:type" content="website" />
<meta content="summary_large_image" name="twitter:card" />
<meta content="width=device-width, initial-scale=1" name="viewport" />

<link rel="stylesheet" href="{{ '/css/index.css' | url }}" />

<link href="{{metainfo.faviconIco}}" rel="shortcut icon" type="image/x-icon" />
<link href="{{metainfo.webclip}}" rel="apple-touch-icon" />
