<div class="wrapper about-us wf-section">
  <div class="div-block-6">
    <h2 class="heading-3 ber-uns">{{aboutUs.about_heading}}</h2>
    <p class="paragraph-3">{{aboutUs.about_text_1}}</p>
    <p class="paragraph-3 p-3">{{aboutUs.about_text_2}}</p>
    <p class="paragraph-3">{{aboutUs.about_text_3}}</p>
  </div>
  <div class="div-block-7">
    <img
      src="/images/{{aboutUs.about_img}}.jpeg"
      loading="lazy"
      sizes="(max-width: 767px) 90vw, 44vw"
      srcset="
        /images/{{aboutUs.about_img}}-p-500.jpeg   500w,
        /images/{{aboutUs.about_img}}-p-800.jpeg   800w,
        /images/{{aboutUs.about_img}}-p-1080.jpeg 1080w,
        /images/{{aboutUs.about_img}}.jpeg        1198w
      "
      alt="{{aboutUs.about_alt}}"
    />
  </div>
</div>
