<div class="wrapper wf-section">
  <div class="feat">
    <div
      id="w-node-_668304b7-04a1-e600-e3e4-daf27ee801ff-0da61159"
      class="icon"
    >
      <img src="/images/geruch.svg" loading="lazy" alt="" />
    </div>
    <div class="feat-text">
      <h2 class="heading-2-small">Geruchsneutral</h2>
      <p class="feat-body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod
      </p>
    </div>
  </div>
  <div class="feat">
    <div class="icon">
      <img
        src="/images/umweltfreundlich.svg"
        loading="lazy"
        id="w-node-_1035ba7a-a282-e3fa-cc66-3f90d0085f66-0da61159"
        alt=""
      />
    </div>
    <div class="feat-text">
      <h1 class="heading-2-small">Umweltfreundlich</h1>
      <p class="feat-body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod
      </p>
    </div>
  </div>
  <div class="feat">
    <div class="icon">
      <img
        src="/images/kostengünstig.svg"
        loading="lazy"
        id="w-node-af3002a4-efb8-6181-7f01-a3922d8eff5e-0da61159"
        alt=""
      />
    </div>
    <div class="feat-text">
      <h1 class="heading-2-small">Kostengünstig</h1>
      <p class="feat-body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod
      </p>
    </div>
  </div>
</div>
