<div class="section wf-section">
  <div class="hero-left-panel">
    <h1 class="heading">{{hero.hero_heading}}</h1>
    <p class="hero-text">{{hero.hero_sub}}</p>
    <a href="#" class="button w-button">{{hero.hero_btn}}</a>
    <div class="stars">
      <div class="div-block">
        <img
          src="/images/star.svg"
          loading="lazy"
          width="16"
          alt=""
          class="star"
        /><img
          src="/images/star.svg"
          loading="lazy"
          width="16"
          alt=""
          class="star"
        /><img
          src="/images/star.svg"
          loading="lazy"
          width="16"
          alt=""
          class="star"
        /><img
          src="/images/star.svg"
          loading="lazy"
          width="16"
          alt=""
          class="star"
        /><img
          src="/images/star.svg"
          loading="lazy"
          width="16"
          height="16"
          alt=""
          class="star"
        />
      </div>
      <p class="body-sm">500 +</p>
      <p class="body-sm regular">zufriedene Kunden</p>
    </div>
  </div>
  <div class="hero-right-panel">
    <img
      src="/images/{{hero.hero_image}}.png"
      loading="lazy"
      style="
        -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1) rotateX(0)
          rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1) rotateX(0)
          rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1) rotateX(0)
          rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, -200px, 0) scale3d(1, 1, 1) rotateX(0)
          rotateY(0) rotateZ(0) skew(0, 0);
        opacity: 0;
      "
      data-w-id="08f3c623-a33f-d9bf-abdf-3f29aea466be"
      srcset="
        /images/{{hero.hero_image}}-p-500.png  500w,
        /images/{{hero.hero_image}}-p-800.png  800w,
        /images/{{hero.hero_image}}.png       1066w
      "
      sizes="(max-width: 479px) 90vw, (max-width: 767px) 500px, 533px"
      alt="{{hero.hero_image_alt}}"
      class="image"
    />
    <div class="blob"></div>
    <div class="blob blob-1"></div>
    <div class="blob blob-2 blob-4"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-2 blob-4"></div>
  </div>
</div>
