<div class="wrapper testi wf-section">
  <div
    data-delay="4000"
    data-animation="slide"
    class="slider w-slider"
    data-autoplay="true"
    data-easing="ease"
    data-hide-arrows="false"
    data-disable-swipe="false"
    data-autoplay-limit="0"
    data-nav-spacing="3"
    data-duration="500"
    data-infinite="true"
  >
    <div class="mask w-slider-mask">
      {% for testi in testi.testis %}
      <div class="{% if loop.index %}slide{% endif %} w-slide">
        <div class="div-block-2 testi-slide">
          <img src="/images/zitat.svg" loading="lazy" alt="" class="image-3" />
          <p class="paragraph testi-body">{{testi.text}}</p>
          <div class="div-block-3 testi-person">
            <img
              src="/images/{{testi.img}}.png"
              loading="lazy"
              alt="{{testi.name}}"
              class="image-2"
              width="64px"
            />
            <h1 class="heading-2 heading-testi">{{testi.name}}</h1>
            <p class="paragraph-2">/ {{testi.job}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="left-arrow w-slider-arrow-left">
      <div class="icon-3 w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="icon-2 w-icon-slider-right"></div>
    </div>
    <div class="slide-nav w-slider-nav w-round"></div>
  </div>
</div>
